---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- TODO: use correct favicon (https://github.com/TSC-Rot-Gold-Casino-Nurnberg-e-V/rgc-website/issues/80) -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Herzlich Willkommen im TSC Rot-Gold-Casino Nürnberg e.V.</title>
  </head>
  <body>
    <form method="post" action="$PORTAL_ACTION$">
      <input name="redirurl" type="hidden" value="$PORTAL_REDIRURL$" />
      <input name="zone" type="hidden" value="$PORTAL_ZONE$" />
      <input name="accept" type="submit" value="Continue" />
    </form>
  </body>
</html>
